{% extends 'soundproof/base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    Tag name: <input type="text" required="true" name="tag_name"/>
    <button type="submit">Subscribe</button>
</form>
<ul>
    {% for sub in subs.data %}
        <li>
            {{sub.object_id}}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="delete" value="{{sub.id}}"/>
                <button type="submit">Delete</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock content %}
