@font-face {
    font-family: 'my-cambria';
    src: url('fonts/calibri_cambria/Cambria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'my-cambria';
    src: url('fonts/calibri_cambria/Cambria Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'my-cambria';
    src: url('fonts/calibri_cambria/Cambria Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'my-cambria';
    src: url('fonts/calibri_cambria/Cambria Bold Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
